body {
	background-color: rgb(129, 107, 12) ;
	background-size: cover;
	font-family:serif
}

/* Fixed sidenav, full height */
.sidenav {
	display: none;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav.sidenav-active{
	display: inline-block;
}
/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
	color: #f1f1f1;
}

/* Main content */
.main {
	margin-left: 200px;
	/* Same as the width of the sidenav */
	font-size: 20px;
	/* Increased text to enable scrolling */
	padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: rgb(62, 35, 2);
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}


.btn {
	background-color: rgb(161, 168, 176);
	/* Blue background */
	border: none;
	/* Remove borders */
	color: white;
	/* White text */
	padding: 10px 10px;
	/* Some padding */
	font-size: 40px;
	/* Set a font size */
	cursor: pointer;
	/* Mouse pointer on hover */
}
.btn:active .dropdown-container{
	opacity: 1;
}
/* Darker background on mouse-over */
.btn:hover {
	background-color: rgb(246, 249, 59);
}

.container {
	max-width: 960px;
	margin: 0 auto;
	background: #eae55f;
	font-size:28px;
	padding:25px;
	}
	
	.parallax {
	background: url('holybible.jpg') no-repeat center;
	background-size:cover;
	background-attachment: fixed;
	height:700px;
	}
	.parallax2 {
		background: url('holybible2.jpg') no-repeat center;
		background-size:cover;
		background-attachment: fixed;
		height:700px;
	}
	

	.wrapper-main {
		width: 1000px;
		padding:100px 0;
		margin: 0 auto;
	}

	@media only screen and (max-width: 600px) and (orientation: landscape)
{
	.wrapper-main {
		width: 100%;
	}
	
}
@media only screen and (max-width: 600px) and (orientation: portrait)
{
	.wrapper-main {
		width: 100%;
	}
	
}

@media only screen and (min-width: 601px) and (max-width: 1200px) and (orientation: portrait)
{
	.wrapper-main {
		width: 100%;
	}
	
}

@media only screen and (min-width: 601px) and (max-width: 1200px) and (orientation: landscape)
{
	.wrapper-main {
		width: 100%;
	}
	
}